@model IEnumerable<ConstuctionManagement.Models.tbl_itemmaster>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.unit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.item)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.item_code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tbl_project.project_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tbl_stock.product_id)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.unit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.item)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.item_code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tbl_project.project_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tbl_stock.product_id)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.product_id }) |
                @Html.ActionLink("Details", "Details", new { id=item.product_id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.product_id })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
